<div class="container-fluid">
  <div class="row bg-black d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center col-auto">
    <button class="text-light d-flex justify-content-center align-items-center col-1" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/admin/partners">Partners</button>
        <button mat-menu-item routerLink="/admin/agencies">Agencies</button>
        <button mat-menu-item routerLink="/admin/advertisementPlans">Advertisement Plans</button>
        <button mat-menu-item routerLink="/admin/advertisements">Advertisements</button>
    </mat-menu>
    <h5 class="text-light p-0 m-0 col-2">Multiplatform Admin</h5>
    </div>
    <button mat-icon-button class="text-light col-1" (click)="logout()"><mat-icon>logout</mat-icon></button>
  </div>
  <div class="row">
  <router-outlet></router-outlet>
  </div>
</div>
